header{
  background-image: url("../images/landing.jpg");
  height:70vh ;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
}
h1 {
  color: white;
  align-content: center;
  font-family: 'Handlee';font-size: 22px;
}
header img{
  align-items: flex-end;
}
#newfont {
font-family: 'Candal';font-size: 22px;
}
header div {
  position: relative;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.padding-0{
	padding: 0px;
	margin: 0px;
	border: none;
	padding-right: 0px;
}
.three {
	padding-top: 90px;
	padding-left: 110px;
	color: white;
	font-size:40px;
  font-family: 'Handlee';font-size: 22px;
}
.one {
  margin: auto;
	color:black;
	font-size:40px;
  background-color:  #e3e3e3;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
  font-family: 'Candal';font-size: 22px;
}
.two {
	margin: 0px;
	color: black;
	font-size:40px;
  background-color:  #e3e3e3;
  margin: 0px;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;

}
.ontop {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.ontop2 {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.padding-0{
	padding: 0px;
	margin: 0px;
	border: none;
	padding-right: 0px;
}
p {
 font-family: 'Cormorant Infant';font-size: 22px;
 font-size: 18px;
}
h4 {
  font-family: 'Cantora One';font-size: 22px;
}
h2 {
  font-family: 'Cantora One';font-size: 22px;
}
#picture2 {
  background-color: #FEFEFE;
  padding: 10px;
  box-shadow: 0px 0px 40px 0px #AAA;
  height: 60vh;
  width: 94%;

}
#meals {
    background-image: url("../images/backgrounds/foodsBg.jpg");
    height: 55vh;
    width: 100%;
}
.tmt button {
text-align: center;
background-color: inherit;
    width:70%
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.col-md-6: {
  margin-left: 200px;
}
