header{
  background-image: url("../images/landing.jpg");
  height:70vh ;
  background-repeat: no-repeat;
  width: 101%;
  text-align: center;
}
h1 {
  color: white;
  align-content: center;
  font-family: 'Handlee';font-size: 22px;
}
header img{
  align-items: flex-end;
}
#newfont {
font-family: 'Candal';font-size: 22px;
}
header div {
  position: relative;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.padding-0{
	padding: 0px;
	margin: 0px;
	border: none;
	padding-right: 0px;
}
.three {
	padding-top: 90px;
	padding-left: 110px;
	color: white;
	font-size:40px;
  font-family: 'Handlee';font-size: 22px;
}
.one {
  margin: auto;
	color:black;
	font-size:40px;
  background-color:  #e3e3e3;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
  font-family: 'Candal';font-size: 22px;
}
.two {
  margin: 0px;
	color: black;
	font-size:40px;
  background-color:  #F15A29;
  margin: 0px;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
  font-family: 'Candal';font-size: 22px;

}
.ontop {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.ontop:hover {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.ontop2 {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.padding-0{
	padding: 0px;
	margin: 0px;
	border: none;
	padding-right: 0px;
}
p {
 font-family: 'Cormorant Infant';font-size: 22px;
 font-size: 18px;
}
h4 {
  font-family: 'Cantora One';font-size: 22px;
}
h2 {
  font-family: 'Cantora One';font-size: 22px;
}
#picture2 {
  background-color: #FEFEFE;
  padding: 10px;
  box-shadow: 0px 0px 40px 0px #AAA;
  height: 52vh;
  width: 93%;

}
#meals {
    background-image: url("../images/foodsBg.jpg");
    height: 55vh;
    width: 100%;
}
#foods .tab{
  position: relative;
  border: 1px;
  border-color: inherit;
}

.mt button {
text-align: center;
background-color: inherit;
    width:70%
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

#picture1 {
  background-color: #FEFEFE;
  padding: 0px;
  padding-top: 16px;
  box-shadow: 0px 0px 40px 0px #AAA;
  height: 54vh;
  width: 93%;
}
#container {
  padding: 50px;
  padding-top: 180px;
  padding-left: 100px;
  margin: 50px;
}
.padding-0:hover .txttt{
	color: #000000;
}
#change {
  margin-left: 20%;
}
.tab button {
    text-align: center;
    background-color: inherit;
    width:70%
    float: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.img1 {

}
.img1 img {
  width: auto;
}
.tab {
  background-color: white;
  width:80%;
  margin-right: 100px;

}
figcaption{
  color: #F15A29;
  text-align: center;
}
#picture3 {
  background-color: #FEFEFE;
  padding: 20px;
  box-shadow: 0px 0px 40px 0px #AAA;
  height: 30vh;
  margin-top: 6%;
  margin-bottom: 6%;
}
#footer {
  background-color: #F15A29;
  text-align: center;
  height: 30vh;
  padding-top: 35px;
}
#footer p{
  color: white;
}
#footer h6{
  color: white;
  padding-top: 40px;
}
.feedback {
  align-content: center;
}
.feedback {
  background-image: url("../images/backgrounds/subscribe.jpg");
  height: 35vh;
}
.feedback h2{
  color: white;
  text-align: center;
}
.last2 {
  align-content: center;
}
form {
  text-align: center;
}
.btn {
  background-color: #F15A29;
  display: block;
  width: 200px;
  text-align: center;
  float:inherit;
}
input {
  display: block;
  width: 170px;
  float: left;
}
.mt {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 200%;
}
